<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

  <!-- grpc-specific settings -->

  <!-- 
    After a duration of this time the client/server pings its peer to see if the transport is still alive. Int valued, milliseconds. 
    -->
  <add key="grpc.keepalive_time_ms" value = "2000"/>

  <!-- 
    After waiting for a duration of this time, if the keepalive ping sender does not receive the ping ack, it will close the transport. Int valued, milliseconds.
    -->
  <add key="grpc.keepalive_timeout_ms" value = "10000"/>

  <!-- 
    Allow keepalive pings when there's no gRPC calls
    -->
  <add key="grpc.keepalive_permit_without_calls" value = "1"/>

  <!-- 
    Allow unlimited amount of keepalive pings without data. 0 - means infinite number of pings without data. 
    -->
  <add key="grpc.http2.max_pings_without_data" value = "0"/>

  <add key="grpc.enable_deadline_checking" value = "1"/>
  <add key="grpc.max_receive_message_length" value = "-1"/>
  <add key="grpc.max_send_message_length" value = "-1"/>

  <add key="grpc.http2.min_time_between_pings_ms" value = "2000"/>
  <add key="grpc.http2.min_ping_interval_without_data_ms" value = "10000"/>

  <add key="grpc.http2.grpc.http2.max_ping_strikes" value="0"/>

  <!-- advanced grpc server options -->
  <!--
    <add key="grpcThreadPoolSize" value="4"/>
    <add key="grpcCompletionQueueCount" value="4"/>
    <add key="grpcInlineHandlers" value="false"/>
    -->

    <add key="grpcRedirectLog" value="true"/>
    <add key="grpcTrace" value="all"/>
    <add key="grpcVerbosity" value="DEBUG"/>
  </appSettings>

</configuration>